<section class='chat-container'>
  <div class='chat-options editProfile'>
    <div class='editProfile__header'>
      <button class='editProfile__button'>
        <img src='{{goBackImg}}' alt='go back' />
      </button>
      <h2 class='editProfile__title'>Profile</h2>
    </div>
    <form class='editProfile__form editForm' action=''>
      <div class='editForm__addPhotoElement'>
        <button>
          <img src='{{addPhotoImg}}' alt='Add photo' />
          <span>Add a photo</span>
        </button>
      </div>
      <div class='editForm__container'>
      {{> editInput inputTitle='Username (will be visible to users)' inputType='text' name='displayName' inputPlaceHolder='Caleb E.' }}
      {{> editInput inputTitle='First Name' inputType='text' name='firstName' inputPlaceHolder='Caleb' }}
      {{> editInput inputTitle='Last Name' inputType='text' name='lastName' inputPlaceHolder='Evans' }}
      {{> editInput inputTitle='Phone number' inputType='text' name='phone' inputPlaceHolder='+1 805-999-9700' }}
      {{> editInput inputTitle='Login' inputType='text' name='login' inputPlaceHolder='evansc' }}
      {{> editInput inputTitle='Email' inputType='text' name='email' inputPlaceHolder='calebevans@gmail.com' }}
      </div>
    </form>
  </div>
  <div class='chat-messenger'>
    <div class='chat-messenger__header header'>
      <div class='chat-messenger__selected-chat-info'>
        <div class='chat-messenger__selected-chat-photo'>
          <img src='{{chatAvatarImage}}' alt='Photo' />
        </div>
        <h3 class='chat-messenger__selected-chat-name'>
          Mom
        </h3>
      </div>
      <ul class='chat-messenger__options-container'>
        <li>
          <button class='chat-messenger__options-button'>
            <img src='{{searchImage}}' alt='Search' />
          </button>
        </li>
        <li>
          <button class='chat-messenger__options-button'>
            <img src='{{editImage}}' alt='Edit' />
          </button>
        </li>
      </ul>
    </div>
    <div class='chat-messenger__messages-window'>
      <div class='chat-messenger__message-container'>
        <div class='message'>
          <p class='message__text'>Hi</p>
          <span class='message__time'>4:30 PM</span>
        </div>
      </div>
      <div class='chat-messenger__message-container chat-messenger__message-container_companion'>
        <div class='message message_companion'>
          <p class='message__text message__text_companion'>Hi</p>
          <span class='message__time message__time_companion'>4:30 PM</span>
        </div>
      </div>
    </div>
    <div class='chat-messenger__input-area'>
      <div class='chat-messenger__input-container'>
        <div class='chat-messenger__input'>
          <input type='text' placeholder='Enter your message' />
          <img src='{{attachImage}}' alt='attach' />
        </div>
        <button class='chat-messenger__send-message-button'>
          <img src='{{sendImage}}' alt='send' />
        </button>
      </div>
    </div>
  </div>
</section>
