<li class='chat-list-item'>
  <div class='chat-list-item__imgbx'>
    <img src='{{photoLink}}' alt={{photoAlt}} />
  </div>
  <div class='chat-list-item__text-container'>
    <div class='chat-list-item__top-content'>
      <h3 class='chat-list-item__contact-name'>{{contactName}}</h3>
      <span class='chat-list-item__time'>{{messageTime}}</span>
    </div>
    <div class='chat-list-item__bottom-content'>
      <p class='chat-list-item__text'>{{messageText}}</p>
      <span class='chat-list-item__notification'>{{unreadedMessagesCount}}</span>
    </div>
  </div>
</li>